.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#about #profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#about .address .centerText {
  display: block;
  width: 80%;
  text-align: right;
}

.slide-right {
  overflow: hidden;
}

.slide-right h2 {
  animation: 2s slide-right 2s forwards;
  transform:translateX(100%);
}

@keyframes slide-right {
  0%, 25% {
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform:translateX(0);
  }
}

.skills li {
  height: 20px;
}

.skills .bar-expand {
  height: 20px;
  /*background-color: #eb4511;*/
  /*background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);*/
  background-color: #007ea7;
  background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);
}